<!DOCTYPE html>
<html>
  <head>
    <title>Loser Fountain</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  </head>
  <body>

    <!-- CSS -->

    <style>

      body,html {
        padding: 0;
        margin: 0;
        width: 100%
        height: 100%;
      }

      #wrapper {
        width: 100%;
        height: 100%;
        background: pink;
      }

    </style>

    <!-- END CSS -->

    <!-- HTML -->

    <div id="wrapper">

      <p>Flask App</p>

    </div>

    <!-- END HTML -->

    <!-- Javascript -->

    <script>



    </script>

    <!-- END Javascript -->

  </body>
</html>
